@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700;800;900&family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');

html,
body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Readex Pro', sans-serif;
  background-color: #fff;
}

ul > li > a {
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  min-width: 100%;
  margin: 0 auto;
  box-shadow: none;
  z-index: 10;
  background-color: #000;
}

.nav-logo {
  height: 45px;
  width: 45px;
  margin: 0 26px;
}

.nav-links {
  display: flex;
}

@media (max-width: 750px) {
  .nav-links {
    display: none;
  }
}

.nav-links > li {
  margin-right: 26px;
  list-style-type: none;
}

.nav-links > li > a {
  font-size: 1.25rem;
  font-weight: bold;
  color: #fff;
}

.nav-links > li > a:hover {
  color: #eaeaea;
}

.main {
  overflow-y: auto;
  margin: 0 auto;
  display: block;
  height: 100%;
  margin-top: 60px;
}

.mainInner {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
}

.mainInner div {
  display: table-cell;
  vertical-align: middle;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 1.25px;
}

#sidebarMenu {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow-y: unset;
  opacity: 0;
  z-index: 10;
  transform: translateX(-100%);
  transition: transform 250ms, opacity 350ms ease-in-out;
  background-color: #000;
}

.sidebarMenuInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:0;
  padding:0;
  border: none;
}

.sidebarMenuInner li {
  margin-bottom: 0px;
  padding: 20px;
  list-style: none;
  cursor: pointer;
  border-top: 1.5px solid rgba(255, 255, 255, 0.15);
  color: #fff;
}

.sidebarMenuInner li a {
  text-transform: none;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bolder;
  color: #fff;
}

.menu-logo {
  width: 100%;
  text-align: center;
  border: none;
  font-family: 'Fira Sans', sans-serif;
  background-color: #fff;
}

.menu-logo > a {
  color: #000!important;
}

input[type="checkbox"]:checked ~ #sidebarMenu {
  transform: translateX(0);
  opacity: 1;
}

input[type=checkbox],
.sidebarIconToggle,
.spinner,
.horizontal,
.diagonal.one,
.diagonal.two,
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal,
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.one,
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.two
{
  transition: all 0.3s;
  box-sizing: border-box;
}

input[type=checkbox] {
  display: none;
}

.sidebarIconToggle {
  display: none;
  position: fixed;
  top: 22px;
  right: 26px;
  height: 22px;
  width: 22px;
  cursor: pointer;
  z-index: 100;
}

@media (max-width: 750px) {
  .sidebarIconToggle {
    display: block;
  }
}

.spinner {
  height: 3px;
  width: 100%;
  background-color: #fff;
}

.horizontal,
.diagonal.one,
.diagonal.two {
  position: relative;
  float: right;
}

.horizontal,
.diagonal.two
{
  margin-top: 3px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
  opacity: 0;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.one {
  transform: rotate(135deg);
  margin-top: 8px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.two {
  transform: rotate(-135deg);
  margin-top: -9px;
}