@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700;800;900&family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');

html, body {
  overflow-x: hidden;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Readex Pro', sans-serif;
  background-color: #fff;
}

.header {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  box-shadow: none;
  background-color: #000;
  position: fixed;
  height: 60px;
  z-index: 10;
}

.main {
  margin: 0 auto;
  display: block;
  height: 100%;
  margin-top: 60px;
}

.mainInner {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
}

.mainInner div {
  display: table-cell;
  vertical-align: middle;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 1.25px;
}

#sidebarMenu {
  height: 100%;
  position: fixed;
  left: 0;
  width: 100%;
  margin-top: 60px;
  transform: translateX(-100%);
  transition: transform 250ms ease-in-out;
  background: #000;
}

.sidebarMenuInner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:0;
  padding:0;
  border-top: 1.5px solid rgba(255, 255, 255, 0.15)
}

.sidebarMenuInner li {
  margin-bottom: 14px;
  padding: 20px;
  list-style: none;
  cursor: pointer;
  font-weight: bold;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.15);
  color: #fff;
}

.sidebarMenuInner li a {
  text-transform: none;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bolder;
  color: #fff;
}

.menu-logo {
  width: 100%;
  text-align: center;
  border: none;
  font-family: 'Fira Sans', sans-serif;
  background-color: #fff;
}

.menu-logo > a {
  color: #000!important;
}

input[type="checkbox"]:checked ~ #sidebarMenu {
  transform: translateX(0);
}

input[type=checkbox] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}

.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 22px;
  left: 15px;
  height: 22px;
  width: 22px;
}

.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #fff;
}

.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}

.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}